#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
                &kp ESC    &kp N7   &kp N8   &kp N9   &kp MINUS    &kp BSPC    &kp DEL
                &kp LC(C)  &kp N4   &kp N5   &kp N6   &kp EQUAL     &kp RET     &kp LC(Z)
                &kp LC(V)  &kp N1   &kp N2   &kp N3   &kp EQUAL     &kp UP      &kp LALT
                &kp LCTRL  &mo 1    &kp N0   &kp DOT   &kp LEFT      &kp DOWN    &kp RGHT
            >;
        };
        fn_layer {
            bindings = <
                &kp ESC    &kp N7   &kp N8   &kp N9   &kp KPLUS     &kp BSPC    &kp DEL
                &kp LC(C)  &kp N4   &kp N5   &kp N6   &kp KPSLASH   &kp RET     &kp LC(Z)
                &kp LC(V)  &kp N1   &kp N2   &kp N3   &kp EQUAL     &kp UP      &kp LALT
                &kp LCTRL  &trans   &kp N0   &kp KPDOT &kp LEFT     &kp DOWN    &kp RGHT
            >;
        };
    };
};
